/* HEADER */
#header-core {
    background: radial-gradient(at top, #FEFFFF, #A7CECC);
    padding: 15px 30px 15px 30px;
    margin-bottom: 25px;
}
#search-panel {
    padding: 0 2%;
}
#search-panel p {
    width: 100%;
}

/* BODY-CORE */

/* CONTENT */
#content {
    padding: 30px 1%;
}