<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th><?php Langs::getTrans('pacient-card') ?></th>
                <th><?php Langs::getTrans('pacient-fio') ?></th>
                <th><?php Langs::getTrans('pacient-gender') ?></th>
                <th><?php Langs::getTrans('pacient-age') ?></th>
                <th><?php Langs::getTrans('year') ?></th>
                <th><?php Langs::getTrans('department') ?></th>
                <th><?php Langs::getTrans('pensioner') ?></th>
                <th><?php Langs::getTrans('date-of-admission') ?></th>
                <th><?php Langs::getTrans('date-of-discharge') ?></th>
                <th>Диагноз</th>
            </tr>
        </thead>
        <tbody>
            <? foreach($data as $key => $value) { ?>
                <tr>
                    <td><?= $key + 1 ?></td>
                    <td><?= $value['history'] ?></td>
                    <td><a href="?cmd=getPacient&pacientId=<?= $value['id'] ?>" target="_blank"><?= $value['fio'] ?></a></td>
                    <td><?= $value['gender'] ?></td>
                    <td><?= $value['age'] ?></td>
                    <td><?= $value['year'] ?></td>
                    <td><?= $value['otd'] ?></td>
                    <td><? if ($value['pensioner']) Langs::getTrans('pensioner_short')  ?></td>
                    <td><?= $value['date_post'] ?></td>
                    <td><?= $value['date_vyp'] ?></td>
                    <td><?= $value['ds'] ? $value['ds'] : '' ?></td>
                </tr>
            <? } ?>
        </tbody>
    </table>
</div>