            </div>  
            <!-- finish content block -->
        </div>
        <!-- finish body-core -->
        <footer>
            <!-- Footer content -->
        </footer>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/pacient.js"></script>
        <script src="lib/select2/dist/js/select2.min.js"></script>
        <script src="lib/select2/dist/js/i18n/ru.js"></script>
    </body>
</html>