<table class="table table-striped">
    <tr>
        <th><?php Langs::getTrans('pacient-card') ?>:</td>
        <td><?= $data[0]['history'] ?></td>
    </tr> 
    <tr>
        <th><?php Langs::getTrans('pacient-fio') ?>:</td>
        <td><?= $data[0]['fio'] ?></td>
    </tr>
    <tr>
        <th><?php Langs::getTrans('pacient-gender') ?>:</td>
        <td><?= $data[0]['gender'] ?></td>
    </tr>     
    <tr>
        <th><?php Langs::getTrans('pacient-birth-date') ?>:</td>
        <td><?= $data[0]['birthDate'] ?></td>
    </tr>
    <tr>
        <th><?php Langs::getTrans('pacient-age') ?>:</td>
        <td><?= $data[0]['age'] ?></td>
    </tr>
</table>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="documentsHeading">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#documents" aria-expanded="true" aria-controls="documents">
                    <?php Langs::getTrans('documents') ?>
                </button>
            </h5>
        </div>

        <div id="documents" class="collapse show" aria-labelledby="documents" data-parent="#accordionExample">
            <div class="card-body">
                Паспортная часть, полис, снилс и другое
            </div>
        </div>
    </div>

    <!-- Диагнозы -->
    <div class="card">
        <div class="card-header" id="headingStat">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseDiagnosis" aria-expanded="false" aria-controls="collapseDiagnosis">
                    Диагнозы
                </button>
            </h5>
        </div>

        <div id="collapseDiagnosis" class="collapse" aria-labelledby="headingStat" data-parent="#accordionExample">
            <div class="card-body">
                <!-- <button id="add-statistic" class="btn btn-primary mb-3" data-toggle="modal" data-target="#statisticModalCenter"><?php Langs::getTrans('add') ?></button> -->
                <div class="row">
                    <div class="col-md-4">
                        <label for="lethalDiagnosis">Посметрный диагноз</label>
                        <input id="lethalDiagnosis" type="text" class="form-control">
                        <button id="saveLethalDiagnosis" class="btn btn-primary mt-2">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Статистика -->
    <div class="card">
        <div class="card-header" id="headingStat">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseStat" aria-expanded="false" aria-controls="collapseStat">
                    <?php Langs::getTrans('statistic') ?>
                </button>
            </h5>
        </div>

        <div id="collapseStat" class="collapse" aria-labelledby="headingStat" data-parent="#accordionExample">
            <div class="card-body">
                <?php if(empty($data[0]['statistic'])) { ?>
                    <button id="add-statistic" class="btn btn-primary mb-3" data-toggle="modal" data-target="#statisticModalCenter"><?php Langs::getTrans('add') ?></button>
                <?php } ?>
                <?php if($data[0]['statistic']) { ?>
                    <table class="table">
                        <thead>
                            <th>Всего к/д</th>
                            <th>К/д до операции</th>
                            <th>К/д после операции</th>
                            <th>Другое</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <? foreach($data[0]['statistic'] as $row) { ?>
                                <tr>
                                    <td><?= $row['bed_days'] ?></td>
                                    <td><?= $row['bed_days_before_oper'] ?></td>
                                    <td><?= $row['bed_days_after_oper'] ?></td>
                                    <td><?= $row['info'] ?></td>
                                    <td><a href="#" data-idzap="<?= $row['id_zap'] ?>" class="js-delete-statistic"><img src="img/delete.ico" height="16px" width="16px" style="cursor: pointer"></a></td>
                                </tr>
                            <? } ?>
                        </tbody>
                    </table>
                <?php } ?>
            </div>
        </div>
    </div>

    <!-- Переводы -->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <?php Langs::getTrans('pacient-move') ?>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <?php if (!empty($data[0]['moving'])) { ?>
                    <table class="table">
                        <thead>
                            <th>Отделение</th>
                            <th>Дата поступления</th>
                            <th>Дата выписки</th>
                            <th>Диагноз</th>
                        </thead>
                        <tbody>
                            <? foreach($data[0]['moving'] as $row) { ?>
                                <tr>
                                    <td><?= $row['otd']?></td>
                                    <td><?= $row['date_post']?></td>
                                    <td><?= $row['date_vyp']?></td>
                                    <td><?= $row['ds'] ? $row['ds'] : '' ?></td>
                                </tr>
                            <? } ?> 
                        </tbody>
                    </table>
                <?php } else { ?>
                    Нет переводов.
                <?php } ?>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <?php Langs::getTrans('operations') ?>
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <button id="add-operation" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModalCenter"><?php Langs::getTrans('add') ?></button>
                <!-- статистика по операциям -->
                <?php if($data[0]['operationsStatistic']) { ?>
                    <h3><?php Langs::getTrans('statistic') ?></h3>
                    <table class="table">
                        <thead>
                            <th><?php Langs::getTrans('count') ?></th>
                            <th><?php Langs::getTrans('operation-code') ?></th>
                        </thead>
                        <tbody>
                            <? foreach($data[0]['operationsStatistic'] as $row) { ?>
                                <tr>
                                    <td><?= $row['count'] ?></td>
                                    <td><?= $row['oper_code'] ?></td>
                                </tr>
                            <? } ?>
                        </tbody>
                    </table>
                <?php } ?>
                
                <!-- операции детально -->
                <?php if($data[0]['operationsDetails']) { ?>
                    <h3><?php Langs::getTrans('detail-info') ?></h3>
                    <table class="table">
                        <thead>
                            <th><?php Langs::getTrans('operation-date') ?></th>
                            <th><?php Langs::getTrans('operation-code') ?></th>
                            <th><?php Langs::getTrans('operation-name') ?></th>
                            <th>Осложнение</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <? foreach($data[0]['operationsDetails'] as $row) { ?>
                                <tr>
                                    <td><?= $row['oper_date'] ?></td>
                                    <td><?= $row['oper_code'] ?></td>
                                    <td><?= $row['NAME'] ?></td>
                                    <td><?= $row['complicate'] ?></td>
                                    <td><a href="#" data-idzap="<?=$row['id_zap'] ?>" class="js-delete-operation"><img src="img/delete.ico" height="16px" width="16px" style="cursor: pointer"></a></td>
                                </tr>
                            <? } ?>
                        </tbody>
                    </table>
                <?php } ?>
            </div>
        </div>
    </div>
</div>

<!-- Operation Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><?php Langs::getTrans('add-operation') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="operationForm" action="">
                    <input id="pacient-id" name="pacient-id" type="text" style="display: none;" value="<?= $data[0]['id'] ?>">
                    <div class="row">
                        <label for="operation-date" class="mx-3"><?php Langs::getTrans('operation-date') ?></label>
                        <input id="operation-date" name="operation-date" type="date" class="form-control mx-3">
                    </div>
                    <div class="row">
                        <label for="operation-code" class="mx-3"><?php Langs::getTrans('operation-code') ?></label>
                        <input id="operations-code-search" name="operations-code" type="text" class="form-control mx-3">
                        <input id="operations-code" name="operations-code" type="text" style="display: none;">
                        <button id="findOperNum" class="btn btn-primary m-3 ">Найти</button> 
                        <div id="operationContainter" style="display: none; width: 100%; height: 200px; overflow: scroll" class="ml-3 mr-3"></div>
                    </div>
                    <div class="row">
                        <label for="complication-code" class="mx-3">Осложнение</label>
                        <input id="complication-code" name="complication-code" type="text" class="form-control mx-3">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="closeOperationForm" type="button" class="btn btn-secondary" data-dismiss="modal"><?php Langs::getTrans('close') ?></button>
                <button id="saveOperation" type="button" class="btn btn-primary"><?php Langs::getTrans('save') ?></button>
            </div>
        </div>
    </div>
</div>

<!-- Statistic Modal -->
<div class="modal fade" id="statisticModalCenter" tabindex="-1" role="dialog" aria-labelledby="statisticModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statisticModalLongTitle"><?php Langs::getTrans('statistic') ?></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="statisticForm" action="">
                    <div class="container">
                        <input id="pacient-id" name="pacient-id" type="text" style="display: none;" value="<?= $data[0]['id'] ?>">
                        <div class="row">
                            <label for="bed_days" class="mx-3"><?php Langs::getTrans('bed_days') ?></label>
                            <input id="bed_days" name="bed_days" type="text" class="form-control mx-3">
                        </div>
                        <div class="row">
                            <label for="bed_days_before_oper" class="mx-3"><?php Langs::getTrans('bed_days_before_oper') ?></label>
                            <input id="bed_days_before_oper" name="bed_days_before_oper" type="text" class="form-control mx-3">
                        </div>
                        <div class="row">
                            <label for="bed_days_after_oper" class="mx-3"><?php Langs::getTrans('bed_days_after_oper') ?></label>
                            <input id="bed_days_after_oper" name="bed_days_after_oper" type="text" class="form-control mx-3">
                        </div>
                        <div class="row pl-4 pt-2">
                            <div class="col">
                                <label class="form-check-label"><input name="pensioner" type="checkbox" value=1  class="form-check-input"> пенсионер</label>
                            </div>
                            <div class="col">
                                <label class="form-check-label"><input name="country" type="checkbox" value=1  class="form-check-input"> сельские</label>
                            </div>
                            <div class="col">
                                <label class="form-check-label"><input name="extr" type="checkbox" value=1  class="form-check-input"> экстренные</label>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="col">
                                <label class="form-check-label"><input name="ssp" type="checkbox" value=1  class="form-check-input"> ССП</label>
                            </div>
                            <div class="col">
                                <label class="form-check-label"><input name="trauma" type="checkbox" value=1  class="form-check-input"> Травма</label>
                            </div>
                            <div class="col">
                                <label class="form-check-label"><input name="ren" type="checkbox" value=1  class="form-check-input"> РХМДиЛ</label>
                            </div>
                        </div>
                        <div class="row pl-4">
                            <div class="col">
                                <label class="form-check-label"><input name="vmp" type="checkbox" value=1  class="form-check-input"> ВМП</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="closeStatisticForm" type="button" class="btn btn-secondary" data-dismiss="modal"><?php Langs::getTrans('close') ?></button>
                <button id="saveStatistic" type="button" class="btn btn-primary"><?php Langs::getTrans('save') ?></button>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <?php var_dump($data); ?>
</div>