<form id="search" method="post" action="?cmd=getPacientList">
    <div class="row">
        <h4><label for="search-input">Поиск:</label></h4>
    </div>
    <div class="row">
        <p><input id="search-input" name="search-value" type="text" class="form-control col-md-6"></p>
    </div>
    <div class="row">
        <input id="search-confirm" type="submit" value="Найти" class="form-control col-md-2">
    </div>
</form>